.main-button {
	background-color: red;
	color: white;
	height: 20px;
	cursor: pointer;
	border: none;
}

.link-button{
	text-decoration: underline;
	color: red;
	background: none;
	border: none;
}

.link-button:hover {
	cursor: pointer;
	color: purple; 
}

.welcome-msg {
	float: left!important;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px!important;
}

li {
	float: right;
}

ul {
	background-color: red;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: pink;
	cursor: pointer;
}

.main-table {
	border-collapse: collapse;
	width: 100%;
}

.main-table th, td {
	text-align: left;
	padding: 8px;
}

.main-table tr:nth-child(even) {
	background-color: #f2f2f2;
}


